AI Agent workflow.json
{
  "name": "AI Agent workflow",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1072,
        5440
      ],
      "id": "a4fcf631-d3d9-4c4d-9e7b-02c93e70b23f",
      "name": "OpenAI Model",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "hyFws9wYIit8KY7H",
          "name": "OpenAi account"
        }
      },
      "notes": "Free n8n credits "
    },
    {
      "parameters": {
        "content": "### ✅ This test workflow is ready to use:\nHover over here and click the orange \"Execute workflow\" button below.\n",
        "height": 240,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2496,
        5728
      ],
      "id": "e664273f-63c6-4f12-804a-0fcd99c294cb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-payment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7a7e3d6d-32fc-49ee-bdca-934171ff1504",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1392,
        5216
      ],
      "webhookId": "20b8739e-49fd-4235-b823-d8a407f67a38"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the intent from the user message. Return only the intent value: search, order, billing, or payment. Input: {{ $json.body.message }}",
        "options": {}
      },
      "id": "19c4abc1-cb47-4d35-a404-c5bc37f8f6d3",
      "name": "Intent Parser",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1072,
        5216
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "payment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "payment"
            }
          ]
        },
        "options": {}
      },
      "id": "b75655a5-5f52-47a5-830f-c4b9c54bc78c",
      "name": "Check Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -736,
        5216
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp.stripe.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "rk_test_51SOaNVLGwmPpyjxLQEVH8MPMLq2JqW0fUU2YBQfbgZdTiqmBuvdHVXY7otzVLmajLfxBfyusunt9JHOvgzHj2qv7002SfuxJ85"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"tools/call\",\n  \"params\": {\n    \"name\": \"create_payment_intent\",\n    \"arguments\": {{ $json }}\n  }\n}",
        "options": {}
      },
      "id": "11ce8e64-6457-4ff6-b85b-28f5e01e0740",
      "name": "Create Stripe Payment Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -208,
        5312
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-confirmation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "151cac6c-f20c-4ab7-9e4c-4942b9884158",
      "name": "Stripe Payment Confirmation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        5040
      ],
      "webhookId": "7eb234b3-6e20-4e29-a42d-ae2a1a0b40c4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Payment processed\",\n  \"paymentMethod\": {{ $json.paymentMethod || \"unknown\" }},\n  \"paymentStatus\": {{ $json.status || $json.paymentStatus || \"completed\" }}\n}",
        "options": {}
      },
      "id": "d2f6ed02-b92e-4511-91ef-6c4c26638d36",
      "name": "Respond to Chatbot",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        448,
        5232
      ]
    },
    {
      "parameters": {
        "content": "We are building an n8n-based AI payment agent that uses Open Banking APIs for bank payments,UPI via Razor,Stripe MCPs for payment orchestration, and OpenAI for intent understanding — all wrapped in a low-code, embeddable SDK for merchants. ",
        "height": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1696,
        5120
      ],
      "typeVersion": 1,
      "id": "bd6c869c-f86c-420f-9a3d-727a79f95043",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "| Node                                   | Purpose                          |\n| -------------------------------------- | -------------------------------- |\n| `Webhook Trigger`                      | Entry point for merchant chatbot |\n| `Intent Parser (OpenAI)`               | Extracts intent, amount, payee   |\n| `Check Intent`                         | Routes to payment logic          |\n| `Offer Payment Options`                | Displays payment methods         |\n| `Create Stripe Payment Intent`         | Calls Stripe test API            |\n| `Stripe Payment Confirmation`          | Receives Stripe webhook          |\n| `Account-based Payment (Open Banking)` | Finicity-style REST call         |\n| `UPI Payment (Razorpay MCP)`           | Calls Razorpay MCP endpoint      |\n| `UPI Confirmation Webhook`             | Receives UPI success/failure     |\n| `Respond to Chatbot`                   | Returns final message            |\n",
        "height": 352,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -944,
        5536
      ],
      "typeVersion": 1,
      "id": "3ab3dfd1-cc97-4e3d-9fc8-121ab087992c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "// Return payment options message and create 3 items for parallel execution\nconst paymentOptions = [\n  {\n    method: 'stripe',\n    name: 'Stripe (Card/Wallet)',\n    message: 'How would you like to pay? Options: 1. Stripe (Card/Wallet) 2. Bank Account (Open Banking) 3. UPI (Razorpay)'\n  },\n  {\n    method: 'open_banking',\n    name: 'Bank Account (Open Banking)',\n    message: 'How would you like to pay? Options: 1. Stripe (Card/Wallet) 2. Bank Account (Open Banking) 3. UPI (Razorpay)'\n  },\n  {\n    method: 'upi',\n    name: 'UPI (Razorpay)',\n    message: 'How would you like to pay? Options: 1. Stripe (Card/Wallet) 2. Bank Account (Open Banking) 3. UPI (Razorpay)'\n  }\n];\n\nreturn paymentOptions;"
      },
      "id": "44dfd758-84b7-41bd-9e8c-4c4941510c87",
      "name": "Offer Payment Options",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        5216
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.finicity.com/openbanking/v1/payments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"amount\": {{ $json.amount }},\n  \"currency\": \"INR\",\n  \"payee\": {{ $json.payee }},\n  \"sourceAccountId\": {{ $json.sourceAccountId }}\n}",
        "options": {}
      },
      "id": "6fb739ec-fa40-45b0-84d9-04c2e67840ad",
      "name": "Open Banking Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -208,
        5152
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "LxyVhfI8aT521tjv",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/v1/payments/upi/collect",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"amount\": {{ $json.amount }},\n  \"currency\": \"INR\",\n  \"vpa\": {{ $json.vpa || \"user@upi\" }},\n  \"payee\": {{ $json.payee || \"Merchant\" }},\n  \"note\": {{ $json.note || \"Payment\" }}\n}",
        "options": {}
      },
      "id": "3fceca02-c660-4624-942b-1baeb0a04912",
      "name": "UPI Payment (Razorpay)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -208,
        5504
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "razorpay-upi-confirm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "31a68401-66b7-45b0-aad0-b4db0581560c",
      "name": "Razorpay UPI Confirmation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        5504
      ],
      "webhookId": "0e7393f6-7526-49c5-81aa-02950a3f0cbb"
    },
    {
      "parameters": {
        "jsCode": "// Parse Razorpay webhook event and return payment status\nconst webhookData = $input.first().json;\nconst event = webhookData.event;\nconst payload = webhookData.payload || {};\n\nlet status = 'pending';\nlet message = 'Payment is pending';\n\nif (event === 'payment.authorized') {\n  status = 'success';\n  message = 'Payment authorized successfully';\n} else if (event === 'payment.failed') {\n  status = 'failed';\n  message = 'Payment failed';\n} else {\n  status = 'pending';\n  message = 'Payment is pending';\n}\n\nreturn {\n  status: status,\n  message: message,\n  event: event,\n  paymentId: payload.payment?.entity?.id || null,\n  amount: payload.payment?.entity?.amount || null,\n  currency: payload.payment?.entity?.currency || null,\n  method: payload.payment?.entity?.method || 'upi',\n  vpa: payload.payment?.entity?.vpa || null\n};"
      },
      "id": "be679dbe-1d6a-471a-af80-384171ee2eff",
      "name": "Process UPI Payment Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        5504
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Intent Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Intent Parser": {
      "main": [
        [
          {
            "node": "Check Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Payment Confirmation": {
      "main": [
        [
          {
            "node": "Respond to Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Stripe Payment Intent": {
      "main": [
        [
          {
            "node": "Respond to Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Intent": {
      "main": [
        [
          {
            "node": "Offer Payment Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offer Payment Options": {
      "main": [
        [
          {
            "node": "Create Stripe Payment Intent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Open Banking Payment",
            "type": "main",
            "index": 0
          },
          {
            "node": "UPI Payment (Razorpay)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Banking Payment": {
      "main": [
        [
          {
            "node": "Respond to Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Razorpay UPI Confirmation": {
      "main": [
        [
          {
            "node": "Process UPI Payment Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process UPI Payment Status": {
      "main": [
        [
          {
            "node": "Respond to Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "5b576191-8385-4d71-8b50-54993c657bac",
  "meta": {
    "templateId": "ready-to-run-ai-workflow-v3",
    "templateCredsSetupCompleted": true,
    "instanceId": "1bf8d935ef18f3e20a691578d1361ec362b0ade9da47b7ba6db3cdce481b915d"
  },
  "id": "sh0v1lahVOV2Ul3g",
  "tags": []
}